.container-banner {
  display: flex;
  max-width: 1000px;
  margin: auto;
  border-radius: 3px;
  padding-top: 50px;
  img {
    width: 265px;
    height: 350px;
    object-position: 0px -17px;
    object-fit: cover;
    transform: translate(72px, 22px);
    border-radius: 3px;
   box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
}

.container-about-me {
  max-width: 1000px;
  margin: auto;
}

.about-me {
  margin-top: 48px;
  h3 {
    font-size: 16px;
    color: #e8c36a;
  }
  p {
    font-size: 16px;
    color: #e8c36a;
  }
}

.align {
  max-width: 1000px;
  margin-left: 70px;
}

// color: #bc96e6
