<div class="section-1">
  <div class="container-banner">
    <div class="profile-picture">
      <img src="<%= image_path 'Charlotte.jpg' %>" alt="sample4"/>
    </div>
    <div class="presentation">
      <div class="row justify-content-center align-items-center">
        <div class="col ">
          <h1>Charlotte <strong>DEMARET</strong></h1>
          <h2> FULL-STACK DEVELOPPER </h2>
          <hr>
          <p> Welcome on my portfolio.</p>
          <p> Always enthusiastic, I'm also creative and love using logic to solve problems, that's why I started learning coding after 7 Years working in marketing. My previous experiences allowed me to work in team and made me both users and results oriented. </p>
        </div>
      </div>
    </div>
  </div>
  <%# <div class="container-about-me">
    <div class="align">
      <div class="about-me">
      <h3> <strong> ABOUT ME </strong></h3>
      <hr>
      <p> When not coding, I love to discover new places to eat delicious food. follow me on Mapstr!
      My glass of wine is never far, especially when it's natural.
      And I'm a GIF lover, especially cat's GIF.</p>
      </div>
    </div>
  </div> %>
  <h1 class="ml11">
    <span class="text-wrapper">
      <%# <span class="line line1"></span> %>
      <span class="letters">DISCOVER MY PROJECTS</span>
    </span>
  </h1>
  <br>
  <a href="#projects" class="arrow-container">
    <div class="arrow"></div>
    <div class="arrow"></div>
    <div class="arrow"></div>
  </a>
</div>

<!-- Projects -->
<div class="section-2" id="projects">
    <h1> PROJECTS </h1>
    <hr>
  <div class="container-projects">
    <div class="card-projects">
      <div class="device device-iphone-x">
        <div class="device-frame">
          <%= image_tag "Food.PNG" %>
        </div>
        <div class="device-stripe"></div>
        <!--<div class="device-header"></div>-->
        <div class="device-sensors"></div>
        <div class="device-btns"></div>
        <div class="device-power"></div>
      </div>
      <div class="description">
          <h1>FOOD ON RAILS</h1>
          <hr>
          <p> A mobile web-application designed to quickly find "healthier" fast-food options given the current location and user preferences. </p>
          <div class="tools">
            <i class="devicon-rails-plain"></i>
            <i class="devicon-css3-plain"></i>
            <i class="devicon-html5-plain"></i>
            <i class="devicon-javascript-plain"></i>
            <i class="devicon-bootstrap-plain"></i>
            <i class="devicon-heroku-original"></i>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="section-3">
  <div class="container-projects">
    <div class="card-projects">
      <div class="description">
        <h1>Y'ALL RIDES</h1>
        <hr>
        <p> A mobile web-application designed to quickly find "healthier" fast-food options given the current location and user preferences. </p>
        <div class="tools">
          <i class="devicon-rails-plain"></i>
          <i class="devicon-css3-plain"></i>
          <i class="devicon-html5-plain"></i>
          <i class="devicon-javascript-plain"></i>
          <i class="devicon-bootstrap-plain"></i>
          <i class="devicon-heroku-original"></i>
        </div>
      </div>
      <div class="device device-macbook device-spacegray">
        <div class="device-frame">
          <%= image_tag "yall.gif" %>
          <!--<iframe class="device-content" width="560" height="315" src="yall.mov" frameborder="0" allowfullscreen></iframe>-->
        </div>
        <div class="device-stripe"></div>
        <div class="device-header"></div>
        <div class="device-sensors"></div>
        <div class="device-btns"></div>
        <div class="device-power"></div>
      </div>
    </div>
  </div>
</div>

<ul class="sidebar">
  <div class="sidebar-frame">
    <li><a href="https://www.linkedin.com/in/charlotte-demaret/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    <li><a href="https://github.com/Charlottedmt" target="_blank"><i class="fab fa-github"></i></a></li>
    <li><a href="mailto: demaret.cha@gmail.com"><i class="far fa-envelope"></i></a></li>
    <li class="padding-left"><a href="/assets/images/resume.pdf" download=""><i class="far fa-file-pdf"></i></a></li>
  </div>
</ul>
